body {
    background-color: rgb(18, 18, 18) ;
    color: white;
}

.test {
    text-align: center;
}

.name {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 1.5em;
    justify-content: center;
}

#name-input {
    font-size: 1em;
    width: 10em;
    text-align: center;
}

.char-info {
    display: flex;
}

.char-info * {
    margin: .5em;
}

.char-info > * {
    flex: 1;
    display: flex;
    justify-content: center;
}

.misc-info {
    display: flex;
    flex-flow: column;
}

.skill-name {
    padding-right: .5em;
}

.skill-wrappers {
    display: flex;
    flex-flow: column;
}

.skill-wrapper {
    display: flex;
    flex-flow: row-reverse;
    padding: 0;
    margin: 0;
    width: 50%
}

.skill-wrapper > * {
    font-size: .9em;
    margin: .1em;
}

.expander {
    border: .15em solid rgb(40, 40, 40);
    margin: .2em;
    background-color: rgb(40, 40, 40);
}

.expander-children > .expander {
    border: .15em solid rgb(60, 60, 60);
    background-color: rgb(60, 60, 60);
    width: 60%;
    margin: auto;
}

.expander-children > .expander > .expander-bar > button {
    position: absolute;
    left: 21.5%;
    height: 2em;
    width: 2em;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
    font-size: 1em;
    background-color:  rgb(18, 18, 18);
    color: white;
}

.expander-bar * {
    display: inline-block;
}

.expander-bar > button {
    position: absolute;
    left: 1em;
    height: 2em;
    width: 2em;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
    font-size: 1em;
    background-color:  rgb(18, 18, 18);
    color: white;
}
  
.expander > div {
    padding-top: .2em;
}

.expander-children:first-child  {
    padding: .5em;
}

.attribute-input-container {
    background-color: rgb(60,60,60);
    padding: .5em;
    color: rgb(240, 240, 240);
    border: 0px solid;
    border-radius: 10%;
}

.attribute-input-container > * {
    margin:auto;
}

.attributes {
    width: 100%;
}

.attribute-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.attribute-wrapper > * {
  margin: 5px;
}

.attribute-total {
    font-size: 1.5em;
}

.attribute-flex {
  display: flex;
  flex-flow: row nowrap;
  width: 48%;
  justify-content: space-around;
}

.attribute-input {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 4rem;
}

.attribute-input input {
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
}

.attribute-buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.attribute-buttons button {
    height: 50%;
}

.attribute-control-wrapper > * {
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.items-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    justify-content: center;
    grid-column-gap: 10vw;
}

.equipment {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding-bottom: 1em;
}

.equipment-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
}

.equipment-item > button {
    width: 1.5em;
    font-weight: bold;
}

.plat {
    color: white;
}

.gold {
    color: rgb(227, 175, 7)
}

.silver {
    color: silver;
}

.copper {
    color: rgb(209, 105, 15)
}

.shop {
    width: 100%;
    margin: auto;
}

.shop > * {
    padding-bottom: .7em;
}

.shop > button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    padding: .2em 1em;
    margin: 1em;
    font-size: 1em;
}

.items-list {
    display: flex;
    flex-direction: column;
}

.shop-item {
  display: flex;
}

.shop-item > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.shop-item:first-child > div { margin-right: auto; }

.shop-item:last-child  > div { margin-left: auto;  }

.shop-input {
    display: flex;
    flex-direction: row;
    padding: .2em;
}

.shop-input > input {
    width: 2em;
    height: 2em;
}

.shop-input > button {
    width: 1em;
    height: 1.7em;
    font-size: 1em;
    font-weight: bold;
    padding-top: -.2em;
}