.Background-About {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/About_Background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.Title-About {
    display: block;
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    z-index: 1;
    opacity: 0.8;
    background-color: rgb(80, 80, 80);
}

.body-about {
    display: block;
    position: absolute;
    top: calc(45%);
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    opacity: 0.9;
    background-color: rgb(80, 80, 80);
}

.p-about {
    display: block;
    position: relative;
    z-index: 2;
    margin: 10px;
    text-indent: 3rem;
}

.links-about {
    z-index: 2;
    font-size: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20vw;
    list-style: none;
    text-align: center;
    justify-content: center;
    color: white;
}

.link-about {
    color:white;
}

.link-about:visited {
    color:white;
}

.link-about:hover, .link-about:active {
    color: blue;
}