.Data-Present-h1 {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
    top: 30vh;
}

.Data-Present-Buttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 4vw;
    align-content: center;
    justify-content: center;
    top: 35vh;
}

.Data-Present-Button {
    height: 10vh;
    width: 20vw;
    color: white;
    font-size: 2vw;
    background-color: grey;
    border-radius: 3rem;
}

.Data-Present-Button:hover {
    background-color: rgb(168, 168, 168);
}

.to-recov {
    text-decoration: none;
}

.to-recov:visited {
    color: white;
}

