.Title-home {    
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    z-index: 2;
    top: 35vh;
  }

  .Sub-Title-home {    
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    z-index: 2;
    top: 35vh;
  }

.Background-Home {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/Home_Background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.Scroll-body-home {
    display: block;
    position: absolute;
    width: 100%;
    top: calc(100% - 45px);
    height: 45px;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    z-index: 2;
    background-color: rgb(80, 80, 80);
    background-size: cover;
    opacity: 0.6;
    transition: all 0.5s ease;
}    

.Scroll-body-home:hover {
    opacity: 1;
    transition: all 0.5s ease;
    top: calc(100% - 50px);
    height: 50px;
}

.Scroll-body-home.active {
    top: 80px;
    left: 0;
    padding: 0;
    opacity: 1;
    z-index: 3;
    height: calc(100% - 80px);
    transition: all 0.5s ease;
}

.info-home {
    margin: 10px;
    position: relative;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    z-index: 5;
    display: none;
}

.p1-home {
    top: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.p2-home {
    top: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.info-home.active {
    display: block;
}