.dropmenu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: left;
    padding: 0rem;
    transition: all 0.5s ease;

}

.dropmenu li {    
    background:rgb(224, 70, 70);
    cursor: pointer;

}

.dropmenu li:hover {
    background:rgb(226, 100, 100);     
    transition: all 0.1s ease-out;
}

.dropmenu.clicked {
    display: none;
}

.dropdown_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}


.display-enter {
    opacity: 0;
}

.display-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.display-exit {
    opacity: 1;
}

.display-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}