.Navbar {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(224, 70, 70) 20%);
    height: 80px;
    position: relative;
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 9999;
}

img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar_logo {
    color: white;
    justify-self: start;
    margin-left: 75px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav_item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav_link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav_link:hover {
    background-color: #ff5d5d;
    border-radius: 4px;
    transition: all 0.1s ease-out;
}

.fa-bars {
    color: white;
}

.menu_icon {
    display: none;
}

@media screen and (max-width: 960px) {

    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 9999;
      padding: 0;
    }
  
    .nav_link {
        display: none;
    }

    .nav_link.active {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav_link.active:hover {
      background-color: #ff5d5d;
      border-radius: 0;
    }
  
    .navbar_logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
      display: none;
    }
  
    .menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  }

* {
    font-family: 'Open Sans', sans-serif;
}